/********* menu og burgermenu *********/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #9d0909;

  margin-left: 0;
  margin-right: 0;
  height: 64px;
}

.logo img {
  width: 195px;
  height: 60px;
  padding-left: 1rem;
  object-fit: unset;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-around;
  width: 900px;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 5px;
  color: #fff7e4;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
  font-family: "Montserrat", serif;
  font-size: 0.8rem;
}

/******/

.menu li a {
  display: flex;
  align-items: center;
  gap: 10px; /* Afstand mellem tekst og ikon */
}

/******/

.menu a:hover {
  color: #fff7e4;
  text-decoration: underline;
}

.burger {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #fff7e4;
  margin-bottom: 5px;
  transition: 0.2s linear;
}

.burger {
  display: none;
}
@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #ffffff;
    position: absolute;
    top: 94px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }
}
